/* APP HEADER */

.app-header{
  display:flex;
  align-items:center;
  gap:12px;

  padding:16px;

  background:linear-gradient(135deg,#2E7D32,#66BB6A);
  color:white;

  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}


/* LOGO */

.logo{
  font-size:1.8rem;
}


/* TITLE GROUP */

.title-group h1{
  font-size:1.2rem;
  margin:0;
}

.title-group span{
  font-size:0.8rem;
  opacity:0.9;
}